<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <div id="button-register"><a href="register.html">register</a></div>
    <div id="button-login"><a href="login.html">login</a></div>
    <div id="button-add-user-info">
      <a href="add-user-info.html">add user info</a>
    </div>
    <div id="button-update-user-info">
      <a href="update-user-info.html">update user info</a>
    </div>
    <div id="button-delete-user">
      <a href="delete-user.html">delete user</a>
    </div>
    <div id="button-change-password">
      <a href="change-password.html">change password</a>
    </div>
    <div id="button-change-password">
      <a href="all-users.html">all users</a>
    </div>
  </body>
</html>
